@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Space Mono", monospace;
}
body {
	padding: 31px 24px 4.938rem 24px;
	background-color: #141d2f;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #fff;
	margin-bottom: 36px;
}
h1 {
	font-weight: 700;
	font-size: 26px;
}
.ligth-mode {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}
.ligth-mode-para {
	font-weight: 700;
	font-size: 13px;
}
.label-search {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 7px;
	padding: 6.5px 7px 7.5px 16px;
	background-color: #1e2a47;
	border-radius: 15px;
	color: #fff;
}
.btn-search {
	background-color: #0079ff;
	border-radius: 10px;
	padding: 12.5px 16px;
	font-weight: 700;
	font-size: 14px;
	border: none;
	color: #fff;
}
.inp-search {
	border: none;
	background-color: transparent;
	width: 100%;
	color: #fff;
}
.inp-search::placeholder {
	font-weight: 400;
	font-size: 13px;
	color: #fff;
}
article {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding: 32px 24px 48px 24px;
	background-color: #1e2a47;
	border-radius: 15px;
}
.first-sect {
	display: flex;
	flex-direction: row;
	gap: 19.5px;
	align-items: center;
	margin-bottom: 33px;
}
.f-c-head-art {
	display: flex;
	flex-direction: column;
}
h2 {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
}
.link {
	font-weight: 400;
	font-size: 13px;
	color: #0079ff;
	padding-bottom: 6px;
}
.date {
	font-weight: 400;
	font-size: 13px;
	color: #fff;
}
.info {
	font-weight: 400;
	font-size: 13px;
	line-height: 25px;
	color: #fff;
}
